body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color:#007bff;
  padding-left: 3rem;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #007bff;
  padding-right: 3rem;
}